.canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 640px;
  border: 4px outset;
}

.world-map {
  position: absolute;
  left: 650px;
  top: 0px;
  width: 640px;
  height: 640px;
  border: 4px outset;
}

.menu {
  position: absolute;
  right: 10px;
}

.ibutton {
  width: 100px;
  height: 50px;
}
