.canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 640px;
  border: 4px outset;
}

.chat {
  position: absolute;
  top: 650px;
}

.chat-button-block {
  position: absolute;
  top: 650px;
  left: 650px;
}

.chat-input {
  width: 640px;
  height: 46px;
  font-size: 18pt;
  border-width: 2px;
  color: #ffffff;
  background-color: #000000;
}

.world-map {
  position: absolute;
  left: 650px;
  top: 0px;
  width: 640px;
  height: 640px;
  border: 4px outset;
}

.menu {
  position: absolute;
  right: 10px;
}

.ibutton {
  border-width: 1px;
  font-size: 14pt;
  width: 100px;
  height: 50px;
}
